{% load static %}

<!DOCTYPE html>
<html>

<!--JQuery CDN must placed earlier than the other (such as bootstrap)-->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<head>
    <meta charset="utf-8" />
    <title>chatroom</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">            <!--rendering properly in mobile devices-->

    <link rel="stylesheet" type="text/css" href="../../static/chatroom/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <a class="siteTitle" href ="{% url 'chatroom:index' %}" style="text-decoration:none;">
                    <span class="logo" role="link" tabindex="0">
                        <img src="../../static/chatroom/img/logo.png">
                    </span>
                </a>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
            </div>
        </header>

        <div class="mdl-layout__drawer">
            <div id="logoNameContainer">
                <a href="{% url 'chatroom:index' %}">
                    <span class="logo" role="link" tabindex="0">
                        <img src="../../static/chatroom/img/logo.png" style="width:200px; margin: 8px;">
                    </span>
                </a>
            </div>
            <nav class="mdl-navigation">

            {% for chatroom in chatroom_list %}
                <a class="mdl-navigation__link" href="/chatroom/{{ chatroom.lm_name }}/" style="text-decoration:none; color:#ffffff;">{{ chatroom.lm_name }}</a>
            {% endfor %}

            </nav>
        </div>


        <main class="mdl-layout__content">
            <div class="page-content">


            <div class="main_section">
                <div class="container">
                    <div class="chat_container">
                        <div class="col-sm-3 chat_sidebar">
                            <div class="row">
                                <div id="custom-search-input">
                                    <div class="input-group col-md-12">
                                        <input type="text" class="  search-query form-control" placeholder="Search previous matching" />
                                        <button class="btn btn-danger" type="button">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="dropdown all_conversation">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-weixin" aria-hidden="true"></i>
                                        All Conversations
                                        <span class="caret pull-right"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <li><a href="#"> All Conversation </a>  <ul class="sub_menu_ list-unstyled">
                                        <li><a href="#"> All Conversation </a> </li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>


                                <div class="member_list">
                                    <ul class="list-unstyled">
                                        <li class="left clearfix">
                                            <span class="chat-img pull-left">
                                                <img src="http://www.sclance.com/pngs/profile-png/profile_png_1113720.png" class="img-circle">
                                            </span>
                                            <div class="chat-body clearfix">
                                                <div class="header_sec">
                                                <strong class="primary-font">9월 5일의 대화</strong>
                                                <strong class="pull-right">09:45AM</strong>
                                            </div>

                                            <div class="contact_sec">
                                                <strong class="primary-font">BERT</strong>
                                                <span class="badge pull-right">4</span>
                                            </div>
                                        </li>

                                        <li class="left clearfix">
                                            <span class="chat-img pull-left">
                                                <img src="http://www.sclance.com/pngs/profile-png/profile_png_1113720.png" alt="User Avatar" class="img-circle">
                                            </span>
                                            <div class="chat-body clearfix">
                                                <div class="header_sec">
                                                    <strong class="primary-font">9월 3일의 대화</strong>
                                                    <strong class="pull-right ">01:13AM</strong>
                                                </div>
                                                <div class="contact_sec">
                                                    <strong class="primary-font">Transformer</strong>
                                                    <span class="badge pull-right">2</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="left clearfix">
                                            <span class="chat-img pull-left">
                                                <img src="http://www.sclance.com/pngs/profile-png/profile_png_1113720.png" class="img-circle">
                                            </span>
                                            <div class="chat-body clearfix">
                                                <div class="header_sec">
                                                    <strong class="primary-font">9월 1일의 대화</strong>
                                                    <strong class="pull-right">2:08AM</strong>
                                                </div>
                                                <div class="contact_sec">
                                                    <strong class="primary-font">seq2seq</strong>
                                                    <span class="badge pull-right">3</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--chat_sidebar-->


                        <div class="col-sm-9 message_section">
                            <div class="row">
                                <div class="new_message_head">
                                    <div class="pull-left">
                                        <button><i class="fa fa-plus-square-o" aria-hidden="true"></i> New Message</button>
                                    </div>

                                    <div class="pull-right">
                                        <div class="dropdown">
                                            <a href="{% url 'chatroom:index' %}">
                                                <input class="pull-right btn btn-success" type="button" value="End Conversation"/>
                                            </a>

                                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                                <li><a href="#">Action</a></li>
                                                <li><a href="#">Profile</a></li>
                                                <li><a href="#">Logout</a></li>
                                            </ul>
                                    </div>
                                </div>

                            </div>

                            <!--new_message_head-->

                            <div id="chat_area">
                                <p class="init_chat">

                                    {% if lm_name %}
                                        The language model this chatroom uses is {{ lm_name }}
                                    {% else %}
                                        access error
                                    {% endif %}

                                </p>
                                <ul id="chat-log" class="list-unstyled">
                                </ul>
                            </div>

                            <div id="popup1" class="overlay">
                                <div class="popup">
                                    <div>
                                        <div class="assembleLogo"><img src="../../static/chatroom/img/github-logo.png"></div>
                                        <h2>Contact Me!</h2>
                                    </div>
                                    <h4>Hello, thank you for use our chatbot service. You can contact us through this link!</h4>
                                    <a class="close" href="#">×</a>
                                    <div class="content">
                                        <a target="_blank" rel="noopener noreferrer" href="https://github.com/kooyunmo/">
                                            <p>Click here to visit my git repository!</p>
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <div class="message_write">
                                <!-- <textarea class="form-control" placeholder="type a message"></textarea> -->
                                <input id="chat-message-input" class="form-control" type="text" placeholder="type a message" />
                                <div class="clearfix"></div>
                                <div class="chat_bottom">
                                    <input id="chat-message-submit" class="pull-right btn btn-success" type="button" value="Send"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--message_section-->

            </div>
            </div>
        </main>
    </div>

    <div id="invisible" style="display:none"></div>

</body>

<script>
    var timer;
    var roomName = {{ lm_name }};

    /* Web socket for chatroom conversation */
    var chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chatroom/' + roomName + '/');

    /* Add user side speech bubble into chat-area */
    function addLogFromUser(message) {
        var today = new Date();
        var time = today.getHours() + ":" + today.getMinutes();
        $("#chat-log").append("<li class='left clearfix admin_chat'><div style='text-align:right; padding-right: 65px;'>나</div><div class='chat-body1 clearfix'><p style='text-align:right;''>" + message + "</p><br><div class='chat_time pull-right'>"+ time +"</div></div></li>");
        $('#chat_area').animate({scrollTop: $('#chat_area').prop("scrollHeight")}, 500);
    }


    function gotoBottom(id){
        var element = document.getElementById(id);
        element.scrollTop = element.scrollHeight - element.clientHeight;
    }

    /* Change url without reloading the entire page */
    function openPage(url) {
        /* loading */
        var today = new Date();
        var time = today.getHours() + ":" + today.getMinutes();
        $('#chat-log').append("<li class='temp_loading right clearfix'><span style='padding-left: 15px;'>DiyaChat</span><span class='chat-img1 pull-left'><a class='button' href='#popup1'><img src='../../static/chatroom/img/chatbot.png' alt='User Avatar' class='img-circle'></a></span><div class='chat-body2 clearfix'><p><img src='../../static/chatroom/img/icons/load.gif' alt='loading'></p><br><div class='chat_time pull-left'>"+ time +"</div></div></li>");


        history.pushState(null, null, url);			// changing the address without reload the page. [param: state, title, url]

        var encodedUrl = encodeURI(url);

        /*
         * 1. Enter the answer text from the LM into invisible div
         * 2. Append the html code #chat-log area
         */
        var $temp = $('#invisible').load(encodedUrl, function() {
            $('.temp_loading').remove();
            //var today = new Date();
            //var time = today.getHours() + ":" + today.getMinutes();
            $('#chat-log').append("<li class='right clearfix'><span style='padding-left: 15px;'>DiyaChat</span><span class='chat-img1 pull-left'><a class='button' href='#popup1'><img src='../../static/chatroom/img/chatbot.png' alt='User Avatar' class='img-circle'></a></span><div class='chat-body2 clearfix'><p>" + $temp.html() + "</p><br><div class='chat_time pull-left'>"+ time +"</div></div></li>");
            $('#chat_area').animate({scrollTop: $('#chat_area').prop("scrollHeight")}, 500);
        });
    }

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        //document.querySelector('#chat-log').value += (message + '\n');
        if(message.length > 0) {
            addLogFromUser(message);

            openPage(message);
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket ' + roomName + ' closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();

    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };


</script>

</html>
